main {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #0d0d0d;
    /* Fondo negro uniforme */
}

.title {
    font-size: 36px;
    /* Tamaño del título */
    font-family: 'Georgia', serif;
    /* Tipo de letra más formal */
    margin-bottom: 20px;
    /* Espacio después del título */
    color: goldenrod;
}

.about-text {
    font-size: 20px;
    font-family: 'Times New Roman';
}

p {
    margin-top: 10px;
    line-height: 1.6;
}


.cofounders-section {
    padding: 2rem 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.355);
    /* Color de fondo */
}

.cofounders-title {
    font-size: 2rem;
    color: goldenrod;
    /* Color dorado para el título */
    font-family: 'Georgia', serif;
    /* Tipografía elegante para el título */
    margin-bottom: 1.5rem;
}

.cofounders-list {
    text-align: center;
    font-size: 1.2rem;
    color: whitesmoke;
    /* Color de texto */
    font-family: 'Times New Roman', serif;
    /* Tipografía elegante para los nombres */
}

.cofounders-list li {
    margin-bottom: 0.8rem;
}

/* Estilos para elementos gráficos adicionales */
.decorative-line {
    border-top: 2px solid #ccc;
    /* Línea decorativa */
    width: 50%;
    margin: 2rem auto;
    /* Centrado con margen */
}