main {
    font-family: Arial, sans-serif;
    color: white;
    background-color: #0d0d0d;
    /* Fondo negro uniforme */
}

.title {
    font-size: 36px;
    /* Tamaño del título */
    font-family: 'Georgia', serif;
    /* Tipo de letra más formal */
    margin-bottom: 20px;
    /* Espacio después del título */
    color: goldenrod;
}

.about-text {
    font-size: 20px;
    font-family: 'Times New Roman';
}

p {
    margin-top: 10px;
    line-height: 1.6;
}