html {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
}

/* Estilos para el footer */
.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

/* Estilos para los encabezados del footer */
.footer h5 {
    font-size: 18px;
}

/* Estilos para las listas del footer */
.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 5px;
}

/* Estilos para los números de teléfono */
.footer ul li:last-child {
    font-weight: bold;
}

a {
    color: #fff;
    text-decoration: none;
    /* Elimina el subrayado de los enlaces */
}

.navbar {
    background-color: #333;
}

.navbar .nav-link {
    color: #fff;
    font-size: 1.1em;
    /* Aumenta el tamaño de la fuente */
}

.navbar .nav-link:hover {
    color: goldenrod;
    /* Color al pasar el ratón */
}

/* Botón de sucursal */
.btn-primary {
    background-color: goldenrod;
    border: none;
    color: black;
}

.row-label {
    font-size: 24px;
    color: #000;
    margin: 3px;
    width: 30px;
    text-align: center;
}

.seat-number {
    position: absolute;
    font-size: 10px;
    color: white;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
}

/* Estilos para los asientos */
.seat {
    font-size: 24px;
    color: #808080;
    margin: 3px;
    cursor: pointer;
    position: relative;
}

.seat:hover {
    color: #bfbfbf;
}

.seat.selected {
    color: #28a745;
}

.seat.unavailable {
    color: #dc3545;
}

.screen {
    width: 100%;
    background-color: #f4f4f4;
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
}

.movie-description {
    background-image: url('https://static.vecteezy.com/system/resources/previews/018/994/854/non_2x/elegant-black-background-with-golden-line-and-lighting-effect-luxury-template-award-modern-design-vector.jpg');
    background-size: cover;
    color: white;
    padding: 10px;
}

.movie-info {
    text-align: left;
    padding: 10px;
}

.movie-info h2 {
    color: goldenrod;
    font-size: 2em;
    /* Aumenta el tamaño del título */
}

.movie-info p {
    font-size: 1.2em;
    /* Aumenta el tamaño de los párrafos */
}

.movie-image {
    max-width: 220px;
}

.seat-row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}


