body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/018/994/854/non_2x/elegant-black-background-with-golden-line-and-lighting-effect-luxury-template-award-modern-design-vector.jpg);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: goldenrod;
    margin-bottom: 20px;
    font-size: 2.5rem; /* Aumenta el tamaño del título */
}

p {
    font-size: 18px;
    color: white;
}

.lottie-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: 'Georgia', serif;
}

/* Estilos para el footer */
.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

/* Estilos para los encabezados del footer */
.footer h5 {
    font-size: 18px;
}

/* Estilos para las listas del footer */
.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 5px;
}

/* Estilos para los números de teléfono */
.footer ul li:last-child {
    font-weight: bold;
}

/* Estilos para los derechos de autor y desarrollador */
.footer p {
    font-size: 12px;
    margin: 5px 0;
}