body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/018/994/854/non_2x/elegant-black-background-with-golden-line-and-lighting-effect-luxury-template-award-modern-design-vector.jpg);
}

.navbar {
    background-color: #333;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover {
    color: #ddd;
}

/* Botón de sucursal */
.btn-login {
    background-color: goldenrod;
    /* Cambia el fondo a negro */
    border: none;
    /* Remueve el borde */
    color: black;
    /* Cambia el texto a blanco */
}

/* Estilos para el footer */
.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

/* Estilos para los encabezados del footer */
.footer h5 {
    font-size: 18px;
}

/* Estilos para las listas del footer */
.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 5px;
}

/* Estilos para los números de teléfono */
.footer ul li:last-child {
    font-weight: bold;
}

/* Estilos para los derechos de autor y desarrollador */
.footer p {
    font-size: 12px;
    margin: 5px 0;
}

a{
    color: #fff;
}