/* Estilos generales */

body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/018/994/854/non_2x/elegant-black-background-with-golden-line-and-lighting-effect-luxury-template-award-modern-design-vector.jpg);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.movie_container {
    background-color: rgba(255, 255, 255, 0.8);
    /* Fondo blanco con opacidad */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

/* Estilos para el iframe y contenido informativo */
.iframe-container {
    background-color: rgba(0, 0, 0, 0.265);
    /* Fondo oscuro y transparente */
    padding: 1rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    /* Espacio entre contenedores */
    border-radius: 10px;
    text-align: center;
}

.info-container {
    background-color: rgba(0, 0, 0, 0.079);
    /* Fondo oscuro y transparente */
    margin-left: 2rem;
    padding: 1rem;
    margin-bottom: 2rem;
    /* Espacio entre contenedores */
    border-radius: 10px;
    text-align: justify;
}

h4{
    font-family: "Copperplate";
    font-size: 30px;
}

/* Estilos para el título */
.movie-title {
    text-align: center;
    font-size: 2.5rem;
    /* Tamaño más grande */
    font-family: "Lucida Bright";
    /* Cambia la fuente si lo deseas */
    color: black;
    /* Color llamativo */
}

.sucursal-container {
    margin-bottom: 2rem;
    /* Espacio entre sucursales */
}

.movie-container p {
    font-family: 'Times New Roman', sans-serif;
    color: #100101;
    font-size: 18px;
}

.info-container p strong {
    color: goldenrod;
    font-size: 20px;
    /* Cambia el color a goldenrod */
}


/* Estilización de botones de horarios */
.btn-horario {
    background-color: goldenrod;
    color: black;
    border-radius: 20px;
    /* Botones redondos */
    border: 2px solid goldenrod;
    transition: all 0.3s ease;
}

.btn-horario:hover {
    background-color: green;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    /* Efecto de ampliación al pasar el mouse */
}