html {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/018/994/854/non_2x/elegant-black-background-with-golden-line-and-lighting-effect-luxury-template-award-modern-design-vector.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.navbar {
    background-color: #333;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover {
    color: #ddd;
}

.btn-primary {
    background-color: goldenrod;
    border: none;
    color: black;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #b8860b;
}

.modal-footer {
    text-align: center;
}

.modal-footer a {
    color: goldenrod;
}


.register-container {
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    /* Usa flexbox */
    align-items: center;
    margin-bottom: 15px;
}

.input-group label {
    flex: 0 0 30%;
    margin-bottom: 0px;
    padding-right: 5px;
}

.input-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn-success {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.btn-success:hover {
    background-color: #218838;
}

.login-footer {
    text-align: center;
    margin-top: 15px;
}

.login-footer a {
    color: goldenrod;
}