<!doctype html>
<html lang="es">

<head>
    <title> Mov7eZ Home </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="./Styles/abouts_us.css">
    <link rel="stylesheet" type="text/css" href="./Styles/general.css">

</head>

<body>
    <header>
        <!-- Barra de navegación  -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" href="./home.html">
                    <img src="../../static/imgs/MZ square.png" alt="Logo" width="45px">
                </a>
                <a class="navbar-brand d-flex align-items-center" href="./home.html" style="color: goldenrod;"> Mov7eZ
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" style="margin-right: 10px;">
                            <a class="nav-link active" href="./home.html" style="color: white;">Home</a>
                        </li>
                        <li class="nav-item" style="margin-right: 10px;">
                            <a class="nav-link" href="./about_us.html" style="color: white;">About us</a>
                        </li>
                        <li class="nav-item" style="margin-right: 15px;">
                            <a class="nav-link" href="./horarios.html" style="color: white;">Horarios</a>
                        </li>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                            <button class="btn btn-outline-success" type="submit"> Buscar </button>
                        </form>
                    </ul>
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="./sucursal.html">Sucursal 1</a></li>
                                <li><a class="dropdown-item" href="./sucursal.html">Sucursal 2</a></li>
                                <li><a class="dropdown-item" href="./sucursal.html">Sucursal 3</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Botón de inicio de sesión -->
                    <button class="btn btn-primary ms-3 btn-login" type="button">
                        <a style="color:black; text-decoration: none;" href="./Inicio_sesión.html">Iniciar Sesión</a>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div style="height: 70px;"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <br>
                    <h1 class="text-center title">About Us</h1>
                    <p class="about-text">Somos <strong>Mov7eZ</strong>, una empresa mexicana dedicada a promover el
                        cine y la cultura. Nuestra pasión por las películas nos motiva a ofrecer experiencias únicas y memorables a nuestros espectadores.
                        Creemos firmemente en el poder del cine para unir a las personas y compartir historias que inspiran,
                        entretienen y enriquecen nuestras vidas. </p>
                    <p class="about-text"> En MovieZ, nos esforzamos por ser un referente en la industria
                        cinematográfica, promoviendo no solo películas de gran calidad, sino también eventos y actividades que contribuyan a la difusión
                        cultural en nuestro país.
                    </p>
                </div>
                <div class="col-md-4">
                    <br>
                    <img src="../../static/imgs/Mov7eZ.png" alt="Logo de MZ" width="520 px">
                </div>
            </div>
        </div>

        <div class="decorative-line"></div>
        <div class="container cofounders-section">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center cofounders-title">Fundadores</h2>
                    <ul class="list-unstyled cofounders-list">
                        <li>Juan Pablo Álvarez Camarena</li>
                        <li>Sebastián Carrillo Cuevas</li>
                        <li>Diego Salvador Luna Campos</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="decorative-line"></div>


        <br>
    </main>

    <!-- Footer "Sobre Nosotros" -->
    <footer class="footer text-center mt-6" style="background-color: #000; color: #fff;">
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-3">
                    <h5>CARTELERA</h5>
                    <ul>
                        <li><a href="horarios.html">Ver cartelera</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>LEGALES</h5>
                    <ul>
                        <li><a href="construccion.html">Aviso de privacidad</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>¿QUIÉNES SOMOS?</h5>
                    <ul>
                        <li><a href="about_us.html">Sobre nosotros</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>CONTACTO</h5>
                    <ul>
                        <li><a href="tel:+015521448070">01 552 144 80 70</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <p>Contenido del sitio 2023© Derechos reservados Exhibidora Mexicana Mov7eZ®, S.A. de C.V.</p>
        </div>
    </footer>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>