<!doctype html>
<html lang="es">

<head>
    <title> Mov7eZ Home </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="./Styles/home.css">

</head>

<body>
    <header>
        <!-- Barra de navegación  -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" href="#">
                    <img src="../static/imgs/MZ square.png" alt="Logo" width="45px">
                </a>
                <a class="navbar-brand d-flex align-items-center" href="#"  style="color: goldenrod;"> Mov7eZ </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" style="margin-right: 10px;">
                            <a class="nav-link active" href="./home.html" style="color: white;">Home</a>
                        </li>
                        <li class="nav-item" style="margin-right: 10px;">
                            <a class="nav-link" href="./about_us.html" style="color: white;">About us</a>
                        </li>
                        <li class="nav-item" style="margin-right: 15px;">
                            <a class="nav-link" href="./orders.html" style="color: white;">Orders</a>
                        </li>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                        <button class="btn btn-outline-success" type="submit"> Buscar </button>
                    </form>
                    </ul>
                    <!-- Botón de inicio de sesión que activa el modal -->
                    <button class="btn btn-primary ms-3" type="button" data-bs-toggle="modal"
                        data-bs-target="#modalSesionId">
                        Iniciar Sesión
                    </button>
                </div>
            </div>
        </nav>
        <br>

        <!-- Carousel -->
        <div id="demo" class="carousel slide" data-bs-ride="carousel">
        
            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            </div>
        
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <!-- Utilizamos la clase mx-auto para centrar y max-width para controlar el tamaño máximo -->
                    <img src="https://www.rollingstone.com/wp-content/uploads/2023/09/image.jpeg" alt="Aquaman"
                        class="d-block mx-auto">
                </div>
                <div class="carousel-item">
                    <img src="https://i.ytimg.com/vi/gJpKBqGGpIQ/maxresdefault.jpg" alt="The Hunger Games" class="d-block mx-auto">
                </div>
                <div class="carousel-item">
                    <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2023/09/marvels-2023-3147768.jpg" alt="The Marvels" class="d-block mx-auto">
                </div>
            </div>
        
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </header>
    <main>

        <!-- Botón para escoger sucursal -->
        <br>
        <div class="text-center">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#branchSelector"
                aria-expanded="false" aria-controls="branchSelector">
                Escoger Sucursal
            </button>
        </div>

        <!-- Aquí iría el contenido adicional para seleccionar sucursal, que podría ser un collapse o modal -->
        <div class="container mt-4">
            <div class="row">
                    <!-- Movie Card 1 -->
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="card">
                            <img src="https://m.media-amazon.com/images/M/MV5BYTI0ZmI4NDItZGFlZC00M2E4LWIyZWEtMTFhMjQwYmU4MGNlXkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_.jpg" class="card-img" alt="Movie Title">
                            <div class="card-img-overlay">
                                <h5 class="card-title"> Five Nights at Freddy's</h5>
                                <button class="btn btn-primary">Ver Horarios</button>
                            </div>
                        </div>
                    </div>
                <!-- Movie Card 2 -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="card">
                        <img src="https://www.themoviedb.org/t/p/original/AqjYaUNJFAS2M9gHFvch6XHxrUZ.jpg" class="card-img" alt="Movie Title">
                        <div class="card-img-overlay">
                            <h5 class="card-title"> La Patrulla Canina </h5>
                            <button class="btn btn-primary">Ver Horarios</button>
                        </div>
                    </div>
                </div>
                <!-- Movie Card 3 -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="card">
                        <img src="https://dx35vtwkllhj9.cloudfront.net/paramountpictures/killers-of-the-flower-moon/images/regions/mx/onesheet.jpg" class="card-img" alt="Movie Title">
                        <div class="card-img-overlay">
                            <h5 class="card-title"> Los Asesinos de la Luna </h5>
                            <button class="btn btn-primary">Ver Horarios</button>
                        </div>
                    </div>
                </div>
                <!-- Movie Card 4 -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="card">
                        <img src="https://m.media-amazon.com/images/M/MV5BZDcyYzRiZmItMTliMS00M2JkLWE0MGMtOWFkMDJmOTAzY2IzXkEyXkFqcGdeQXVyOTMzOTMzMTg@._V1_FMjpg_UX1000_.jpg" class="card-img" alt="Movie Title">
                        <div class="card-img-overlay">
                            <h5 class="card-title"> The Jester </h5>
                            <button class="btn btn-primary">Ver Horarios</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </main>
    <footer>
        <footer>
            <!-- Paginación -->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link disabled" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link disabled" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
                © 2023 Mov7eZ. Todos los derechos reservados.
            </div>
        </footer>
    </footer>

    <!-- Register Modal -->
    <div class="modal fade" id="modalRegisterId" tabindex="-1" aria-labelledby="modalRegisterLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalRegisterLabel">Registrar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="container">
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <label for="firstName" class="form-label"> Nombre(s) </label>
                                    <input type="text" class="form-control" id="firstName" required>
                                </div>
                                <div class="col-6 mb-3">
                                    <label for="lastName" class="form-label"> Apellidos </label>
                                    <input type="text" class="form-control" id="lastName" required>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label"> Tu correo </label>
                                <input type="email" class="form-control" id="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label"> Contraseña </label>
                                <input type="password" class="form-control" id="password" required>
                            </div>
                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label"> Confirmar Contraseña </label>
                                <input type="password" class="form-control" id="confirmPassword" required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> Cancelar </button>
                    <button type="submit" class="btn btn-success"> Registrarse </button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Session Modal -->
    <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
    <div class="modal fade" id="modalSesionId" tabindex="-1" role="dialog" aria-labelledby="modalSTitleId"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalSTitleId"> Iniciar sesión </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="login-form">
                        <!-- Campo de Correo -->
                        <label for="email"> Correo: </label>
                        <div class="input-group mb-3">
                            <input type="email" id="emailS" name="email" placeholder="Ingresa tu correo"
                                class="form-control" required>
                            <span class="input-group-text">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
    
                        <!-- Campo de Contraseña -->
                        <label for="password"> Contraseña: </label>
                        <div class="input-group mb-3">
                            <input type="password" id="passwordS" name="password" placeholder="Ingresa tu contraseña"
                                class="form-control" required>
                            <span class="input-group-text">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                        <div style="text-align: center;">
                            <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer text-center"> ¿No tienes cuenta?
                <a data-bs-toggle="modal" data-bs-target="#modalRegisterId" data-bs-dismiss="modal" href="#"> Regístrate
                    aquí </a>
            </div>
        </div>
    </div>
    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>