<!doctype html>
<html lang="es">

<head>
    <title> Mov7eZ Home </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="./Styles/general.css">
    <link rel="stylesheet" type="text/css" href="./Styles/home.css">

</head>

<body>
    <header>
        <!-- Barra de navegación  -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" href="./home.html">
                    <img src="../../../static/imgs/MZ square.png" alt="Logo" width="45px">
                </a>
                <a class="navbar-brand d-flex align-items-center" href="./home.html"  style="color: goldenrod;"> Mov7eZ </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" style="margin-right: 10px;">
                            <a class="nav-link active" href="./home.html" style="color: white;">Home</a>
                        </li>
                        <li class="nav-item" style="margin-right: 10px;">
                            <a class="nav-link" href="./about_us.html" style="color: white;">About us</a>
                        </li>
                        <li class="nav-item" style="margin-right: 15px;">
                            <a class="nav-link" href="./horarios.html" style="color: white;">Horarios</a>
                        </li>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                        <button class="btn btn-outline-success" type="submit"> Buscar </button>
                    </form>
                    </ul>
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="./sucursal.html">Sucursal 1</a></li>
                            <li><a class="dropdown-item" href="./sucursal.html">Sucursal 2</a></li>
                            <li><a class="dropdown-item" href="./sucursal.html">Sucursal 3</a></li>
                          </ul>
                        </li>
                      </ul>
                    <!-- Botón de ver perfil -->
                    <button class="btn btn-primary ms-3" type="button">
                        <a style="color:black; text-decoration: none;" href="./ver_perfil.html">Ver Perfil</a>
                    </button>  
                    <!-- Botón de inicio de sesión -->
                    <button class="btn btn-primary ms-3 btn-login" type="button">
                        <a style="color:black; text-decoration: none;" href="./Inicio_sesión.html">Iniciar Sesión</a>
                    </button>
                </div>
            </div>
        </nav>
        <br><br><br><br>

        <!-- Carousel -->
        <div id="demo" class="carousel slide" data-bs-ride="carousel">
        
            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            </div>
        
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <!-- Utilizamos la clase mx-auto para centrar y max-width para controlar el tamaño máximo -->
                    <img src="https://www.rollingstone.com/wp-content/uploads/2023/09/image.jpeg" alt="Aquaman"
                        class="d-block mx-auto">
                </div>
                <div class="carousel-item">
                    <img src="https://i.ytimg.com/vi/gJpKBqGGpIQ/maxresdefault.jpg" alt="The Hunger Games" class="d-block mx-auto">
                </div>
                <div class="carousel-item">
                    <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2023/09/marvels-2023-3147768.jpg" alt="The Marvels" class="d-block mx-auto">
                </div>
            </div>
        
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </header>
    <main>

        <!-- Aquí iría el contenido adicional para seleccionar sucursal, que podría ser un collapse o modal -->
        <div class="container mt-4">
            <div class="row">
                    <!-- Movie Card 1 -->
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="card">
                            <img src="https://m.media-amazon.com/images/M/MV5BYTI0ZmI4NDItZGFlZC00M2E4LWIyZWEtMTFhMjQwYmU4MGNlXkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_.jpg" class="card-img" alt="Movie Title">
                            <div class="card-img-overlay">
                                <h5 class="card-title"> Five Nights at Freddy's</h5>
                                <a style="color:black; text-decoration: none;" href="./horarios.html"><button class="btn btn-primary">Ver Horarios</button></a>
                            </div>
                        </div>
                    </div>
                <!-- Movie Card 2 -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="card">
                        <img src="https://www.themoviedb.org/t/p/original/AqjYaUNJFAS2M9gHFvch6XHxrUZ.jpg" class="card-img" alt="Movie Title">
                        <div class="card-img-overlay">
                            <h5 class="card-title"> La Patrulla Canina </h5>
                            <a style="color:black; text-decoration: none;" href="./horarios.html"><button class="btn btn-primary">Ver Horarios</button></a>
                        </div>
                    </div>
                </div>
                <!-- Movie Card 3 -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="card">
                        <img src="https://dx35vtwkllhj9.cloudfront.net/paramountpictures/killers-of-the-flower-moon/images/regions/mx/onesheet.jpg" class="card-img" alt="Movie Title">
                        <div class="card-img-overlay">
                            <h5 class="card-title"> Los Asesinos de la Luna </h5>
                            <a style="color:black; text-decoration: none;" href="./horarios.html"><button class="btn btn-primary">Ver Horarios</button></a>
                        </div>
                    </div>
                </div>
                <!-- Movie Card 4 -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
                    <div class="card">
                        <img src="https://m.media-amazon.com/images/M/MV5BZDcyYzRiZmItMTliMS00M2JkLWE0MGMtOWFkMDJmOTAzY2IzXkEyXkFqcGdeQXVyOTMzOTMzMTg@._V1_FMjpg_UX1000_.jpg" class="card-img" alt="Movie Title">
                        <div class="card-img-overlay">
                            <h5 class="card-title"> The Jester </h5>
                            <a style="color:black; text-decoration: none;" href="./horarios.html"><button class="btn btn-primary">Ver Horarios</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- Paginación -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link disabled" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link disabled" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </main>
    
        <!-- Footer "Sobre Nosotros" -->
        <footer class="footer text-center mt-6" style="background-color: #000; color: #fff;">
            <div class="container">
                <div class="row mt-4">
                    <div class="col-md-3">
                        <h5>CARTELERA</h5>
                        <ul>
                            <li><a href="horarios.html">Ver cartelera</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5>LEGALES</h5>
                        <ul>
                            <li><a href="construccion.html">Aviso de privacidad</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5>¿QUIÉNES SOMOS?</h5>
                        <ul>
                            <li><a href="about_us.html">Sobre nosotros</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h5>CONTACTO</h5>
                        <ul>
                            <li><a href="tel:+015521448070">01 552 144 80 70</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="text-align: center;">
                <p> Contenido del sitio 2023© Derechos reservados Exhibidora Mexicana Mov7eZ®, S.A. de C.V. </p>
            </div>
        </footer>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>